*
{
    color: black;
    background: white;
    font-family: serif;
    font-weight: 200
}

body{
    text-align: center
}

h1{
    line-height: 2em  
}

a{
    font-size: 30px;
    text-align: center;
    display: block;
    width: 100px;
    margin: auto;
    padding-bottom: 10px;
}

img{
    text-align: center;
    padding-bottom: 15px;
    padding-left: 30px;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

/*
h5{
    line-height: .5em
}
*/

/*
p{
    line-height: .5em;
    margin-bottom: 32px
}
*/

.app{
    font-size: 15px;
    line-height: 8px;
    margin-bottom: 10px
}

.salad{
    font-size: 15px;
    line-height: 8px;
    margin-bottom: 10px;
    margin-top: 50px
}

.entrees{
    font-size: 15px;
    line-height: 8px;
    margin-bottom: 10px;
    margin-top: 50px
}

.dessert{
    font-size: 15px;
    line-height: 8px;
    margin-bottom: 10px;
    margin-top: 50px
}

.footer{
    font-size: 18px;
    line-height: 8px;
    margin-bottom: 10px;
    margin-top: 100px;
}