.bckg{
    width: 65%;
    height: 65vw;
    top: 0px;
    left: 250px;
    position: absolute;
}

.image{
    width: 100%;
    height: auto;
    top: 7px;
    left: 10px;
    position: absolute;
    z-index: 1;
}

.mp{
    width: 160px;
    height: auto;
    display: block;
    top: 31.25%;
    left: 38%;
    position: absolute;
    z-index: 2;
}

#laserdiv{
    width: 162px;
    height: auto;
}

.laser{
    width: 156px;
    height: auto;
    display: block;
    top: 25.2%;
    left: 45.8%;
    position: absolute;
    z-index: 3;
}

.lights{
    width: 130px;
    height: auto;
    display: block;
    top: 41.3%;
    left: 56.8%;
    position: absolute;
    object-fit: contain;
    z-index: 4;
}

.bakery{
    width: 110px;
    height: auto;
    display: block;
    top: 21.55%;
    left: 12%;
    position: absolute;
    object-fit: contain;
    z-index: 5;
}

#mirrorball{
    height: 35px;
    width:70px;
}

.mirrorball{
    width: 110px;
    height: auto;
    display: block;
    top: 34.3%;
    left: 62%;
    position: absolute;
    object-fit: contain;
    z-index: 6;
}

.ultra{
    width: 110px;
    height: auto;
    display: block;
    top: 31.5%;
    left: 12.12%;
    position: absolute;
    object-fit: contain;
    z-index: 7;
}