.bckg{
    width: 65%;
    height: auto;
    top: 0px;
    left: 250px;
    position: absolute;
}

.image{
    width: 100%;
    height: auto;
    top: 7px;
    left: 10px;
    position: absolute;
    z-index: 1;
}

.mp{
    width: 160px;
    height: auto;
    display: block;
    top: 240%;
    left: 80%;
    position: absolute;
    z-index: 2;
}

#laserdiv{
    width: 162px;
    height: auto;
}

.laser{
    width: 156px;
    height: auto;
    display: block;
    top: 233px;
    left: 668px;
    position: absolute;
    z-index: 3;
}

.lights{
    width: 130px;
    height: auto;
    display: block;
    top: 383px;
    left: 770px;
    position: absolute;
    object-fit: contain;
    z-index: 4;
}

.bakery{
    width: 110px;
    height: auto;
    display: block;
    top: 197px;
    left: 352px;
    position: absolute;
    object-fit: contain;
    z-index: 5;
}

#mirrorball{
    height: 40px;
    width: 80px;
}

.mirrorball{
    width: 110px;
    height: auto;
    display: block;
    top: 318px;
    left: 820px;
    position: absolute;
    object-fit: contain;
    z-index: 6;
}